---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ArrowRight from "@/components/fundations/icons/ArrowRight.astro";

const { data } = Astro.props;
const { label, title, items } = data || {};
---

<section class="scroll-mt-32" id="projects">
  <Wrapper variant="standard" class="py-12 lg:py-24">
    <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
      <div class="lg:col-start-2">
        <Text tag="p" variant="textSM" class="text-base-600 dark:text-base-300" set:html={label} />
      </div>
      <Text
        tag="h2"
        variant="textXL"
        class="font-semibold leading-snug text-left tracking-tighter lg:col-span-2 text-base-900 dark:text-white"
      >
        {title}
      </Text>
    </div>

    <div class="flex flex-col gap-12 mt-8">
      {
        items?.map((project) => (
          <article class="py-12 border-t border-base-200 dark:border-base-800">
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 items-start">
              <Text
                tag="p"
                variant="textXS"
                class="text-base-600 dark:text-base-300 uppercase"
              >
                {project.year}
              </Text>
              <Text
                tag="h3"
                variant="displaySM"
                class="text-base-900 dark:text-white leading-tight font-semibold "
              >
                {project.title}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="text-base-600 dark:text-base-300"
              >
                {project.description}
              </Text>
              <div class="flex items-center gap-3 lg:ml-auto lg:col-start-4">
                {project.logo && <Image src={project.logo} alt="" class:list={["w-8 h-8 object-contain shrink-0", project.logo.format === 'svg' && "dark:invert"]} />}
                <Text
                  tag="p"
                  variant="textXS"
                  class="text-base-600 dark:text-base-300 uppercase"
                >
                  {project.category}
                </Text>
                {project.href && (
                  <a
                    href={project.href}
                    class="ml-2 text-base-900 dark:text-white hover:text-accent-600 transition"
                  >
                    <span class="sr-only">Visit {project.category}</span>
                    <ArrowRight class="size-4" />
                  </a>
                )}
              </div>
            </div>
            {project.image && project.imageAlt && (
              project.containImage ? (
                <Image
                  width={1200}
                  src={project.image}
                  alt={project.imageAlt}
                  loading="lazy"
                  decoding="async"
                  class="w-full h-auto rounded-4xl mt-12 object-contain object-center"
                />
              ) : (
                <Image
                  width={1200}
                  height={630}
                  src={project.image}
                  alt={project.imageAlt}
                  loading="lazy"
                  decoding="async"
                  class="size-full aspect-[1200/630] rounded-4xl mt-12 object-cover object-center"
                />
              )
            )}
          </article>
        ))
      }
    </div>
  </Wrapper>
</section>
